.left-side-bar {
    padding: 30px;
  }

.left-side-bar .logo{
    width: 70px;
}

.left-side-bar .social-media-icons{
    height: 35px;
    padding: 10px;
}

.language-selector{
    border-radius: 15px;
    border: 4px solid var(--pink-diamond);
    background-color: transparent;
    color: var(--pink-diamond);
    font-weight: 600;
    font-size: 20px;
    padding: 5px;
    width: 65px;
    cursor: pointer;
}