.about-me-section{
    display: flex;
    align-items: center;
}

.about-me-section .text-container{
    height: 70%;
    padding-right: 200px;
}

.about-me-section .text-container .welcome-message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-me-section .text-container .title {
    height: 6rem;
    padding: 20px 0;
}	

.about-me-section .image-container{
    padding-right: 30px;
    height: 70%;
}

.about-me-section .image-container div{
    width: 30vh;
    height: 50vh;
}

.about-me-section .image-container .image{
    background-image: url('/public/static/images/profile-pic.jpg');
    background-size: cover;
}

.about-me-section .image-container .frame{
    outline: 4px solid var(--white);
    outline-offset: -4px;
    position: relative;
    transform: translate(10%, -90%);
    z-index: -1;
}

@media screen and (max-width: 768px){
    .about-me-section {
        display: flex;
        flex-direction: column;
    }

    .about-me-section .text-container {
        padding-right: 0;
        height: fit-content;
        padding-bottom: 16px;
    }

    .about-me-section .text-container .title {
        height: 3rem;
        padding: 12px 0;
    }

    .about-me-section .image-container {
        padding-right: 0;
        height: 35vh;
    }

    .about-me-section .image-container div{
        width: 16vh;
        height: 26vh;
    }

}