.right-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.right-side-bar .cord-light-mode{
    /* TODO: Style cord light mode */
    height: 400px;
}


.right-side-bar .planets-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.right-side-bar .planets-navigation a img{
    width: 25px;
}

.right-side-bar .planets-navigation .vertical-line{
    border-left: 4px solid var(--white);
    height: 100px;
    left: 50%;
}