.right-side-bar {
    padding: 0 30px;
}

.right-side-bar .cord-light-mode{
    /* TODO: Style cord light mode */
    height: 400px;
}

.right-side-bar .planets-navigation a img{
    width: 25px;
    padding: 10px 0;
}

.right-side-bar .planets-navigation .vertical-line{
    border-left: 4px solid var(--white);
    height: 100px;
    left: 50%;
}