.light-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2vh;
    gap: 16px;
}

.light-title{
    display: flex;
}

@media screen and (min-width: 961px){
    .light-title-container{
        padding: 4vh 0;
    }

    .light-title-container p {
        padding: 0 40vh;
    }
}