html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-position: 0% 20%, center;
  background-size: 800px, cover;
  background-repeat: no-repeat;            
  background-image:
    url('/public/static/images/saturn-background.png'),
    linear-gradient(165.04deg, #292544 0%, #2F2763 50%, #292544 100%);
}

body::-webkit-scrollbar{
  display: none;
}

#root{
  /* Colors */
  --white: #FFFFFF;
  --kings-dragon: #2F2763;
  --pink-diamond: #E673FC;
  --wonders-magic: #422486;
  --deep-space: #292544;
  --saturns-rings: #A04CC1;
  /* SVG filters */
  --pink-diamond-svg-filter: brightness(0) saturate(100%) invert(64%) sepia(47%) saturate(4856%) hue-rotate(239deg) brightness(103%) contrast(98%);
  /* Glow effect */
  --glow-effect: drop-shadow(0 0 0.55rem rgb(229, 115, 252)) drop-shadow(0 0 0.55rem rgb(229, 115, 252));
}

section{
  height: 100vh;
  padding: 0 36vh;
  scroll-snap-align: start;
}

a{
  text-decoration: none;
}

strong{
  font-weight: 600;
  color: var(--pink-diamond);
}

.title{
  color: var(--white);
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

.title-icon{
  height: 3rem;
  margin: 0 24px;
}

.subtitle{
  color: var(--white);
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.subtitle-icon{
  height: 1.5rem;
  margin: 0 12px;
}

.body-text{
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin: 8px 0;
}

.body-icon{
  height: 1rem;
  margin: 0 12px;
}

.light-on{
  filter: var(--glow-effect);
  transition: filter 0.2s ease-in-out;
}

.glowing-hover:hover{
  filter: var(--glow-effect);
  transition: 0.2s ease-in-out;
}


@media screen and (max-width: 768px){
  section{
    padding: 40px 40px 0 40px;
  }

  .title {
    font-size: 1.5rem;
  }

  .title-icon{
    height: 1.5rem;
    margin: 0 12px;
  }

  .subtitle{
    font-size: 0.9rem;
  }

  .subtitle-icon{
    height: 0.9rem;
  }

  .body-text{
    font-size: 0.7rem;
  }

  strong{
    font-size: 0.7rem;
  }

}